<!DOCTYPE HTML>
<html>
<head>
    <title>Rotctld Web Interface</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styling.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/socket.io-1.4.5.js') }}"></script>
    <script type="text/javascript" charset="utf-8">

        var updateSetpoint;
        var haltRotator;
	var increment = 1;
        $(document).ready(function() {
            // Use the 'update_status' namespace for all of our traffic
            namespace = '/update_status';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


            // Handle a position update.
            socket.on('position_event', function(msg) {
                var _az = msg.azimuth.toFixed(1);
                var _el = msg.elevation.toFixed(1);

		var _aztext = "<h3><small>" + _az + "</small></h3>"
		var _eltext = "<h3><small>" + _el + "</small></h3>"

		$('#az_pos').html(_aztext);
		$('#el_pos').html(_eltext);
            });

            // Handle a setpoint update.
            socket.on('setpoint_event', function(msg) {
                var _az = msg.azimuth.toFixed(1);
                var _el = msg.elevation.toFixed(1);

		var _aztext = "<h3><small>" + _az + "</small></h3>"
		var _eltext = "<h3><small>" + _el + "</small></h3>"

		$('#az_target_pos').html(_aztext);
		$('#el_target_pos').html(_eltext);
            });       

            // Button callback functions. Fairly self explanatory.
            updateSetpoint = function updateSetpoint(motor_val, delta_val){
                socket.emit('update_setpoint', {delta: delta_val, motor: motor_val});
            };

            haltRotator = function haltRotator(){
                socket.emit('halt_rotator', {});
            }

            setRotator = function setRotator(rotator_key_val){
                socket.emit('set_rotator', {rotator_key: rotator_key_val});
            };

            // Tell the server we are connected and ready for data.
            socket.on('connect', function() {
                socket.emit('client_connected', {data: 'I\'m connected!'});
                // This will cause the server to update us with the latest position and setpoint data.
            });

            // Request current rotator position every second.
            window.setInterval(function () {
                socket.emit('get_position',{});
            }, 1000); 



        });
    </script>
</head>
<body>
    <div id="autorx_header"><h2>ARK LOGO LA1K Rotor Web Interface</h2></div>
    <hr>

    {# Rotor menu #}

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
    {% for rotator_name in rotator_names %}
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="{{ rotator_name }}" autocomplete="off" onclick="setRotator({{ rotator_name }})"> {{ rotator_name }}
        </label>
    {% endfor %}
    </div>


    <div id="autorx_header"><h2>Rotctld Web GUI</h2></div>
    <div class="container-fluid">
	<div class="row">
		<div class="col">
			<div id="az"><h3>Azimuth:</h3></div>
		</div>
		<div class="col">		
			<div id="az_pos"><h3></h3></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="az"><h3>Target:</h3></div>
		</div>
		<div class="col">		
			<div id="az_target_pos"><h3></h3></div>
		</div>
	</div>
        <div class="row">
            <div class='col'>
                <button type="button" class="btn btn-primary btn-block large-font" id="az_ccw" onclick="updateSetpoint('azimuth', -increment)">↶</button>
            </div>
            <div class='col'>
		    <button type="button" class="btn btn-primary btn-block large-font" id="az_cw" onclick="updateSetpoint('azimuth', +increment)">↷</button>
            </div>
        </div>
        <br>
{# Elevation handling #} 
	<hr>
	<div class="row">
		<div class="col">
			<div id="el"><h3>Elevation:</h3></div>
		</div>
		<div class="col">		
			<div id="el_pos"><h3></h3></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div id="el_tar"><h3>Target:</h3></div>
		</div>
		<div class="col">		
			<div id="el_target_pos"><h3></h3></div>
		</div>
	</div>
        <div class="row">
            <div class='col'>
		    <button type="button" class="btn btn-primary btn-block large-font" id="el_ccw" onclick="updateSetpoint('elevation', -increment)">↶</button>
            </div>
            <div class='col'>
		    <button type="button" class="btn btn-primary btn-block large-font" id="el_cw" onclick="updateSetpoint('elevation', +increment)">↷</button>
            </div>
        </div>
        <br>
	<hr>
        <div class="row">
        	<button type="button" class="btn btn-danger btn-block large-font" id="halt" onclick="haltRotator()">HALT</button>
        </div>
    </div>
</body>
</html>
